doctype html
html(lang='zh-CN')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='renderer', content='webkit')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title 上海厚步网络科技有限公司
    link(rel='shortcut icon', type='image/ico', href='_HOST_/favicon.ico')
    link(rel='stylesheet', type='text/css', href='_HOST_/css/main.css', media='all')
    script(type='text/javascript').
      document.getElementsByClassName === undefined && (location.href = "_HOST_/html/common/not_support.html");
    block head
  body
    block body