extends ../_temp/main
block head
    style(type="text/css").
        span.btn:hover{
            color: #fff;
            background-color: #bbb;
            cursor: default;
        }
        .date_group{
            margin: 5px 0 10px;
        }
block body
    - var curPage = "adver_cash";
    include ../_temp/menu
    .content
        .grid
            .ct_4
                .btn_radios.btn_radios_2
                    label.btn_radio.btn_radio_success
                        input.filter_type(type='radio', name='filter_type', value='0')
                        span.btn_radio_desc 预付
                    label.btn_radio.btn_radio_warning
                        input.filter_type(type='radio', name='filter_type', value='1', checked='')
                        span.btn_radio_desc 后付
            .ct_4
            .ct_2
                .date_group
                  .date_start_ct
                    input.date_start(type='text', readonly)
                  i.iconfont.icon-86b
                  .date_end_ct
                    input.date_end(type='text', readonly)
    include ../_temp/js_base
    script(type='text/javascript').
        var role =  #{role};
    script(src='http://192.168.1.211:5211/back/js/page/common_adver_cashed.js')