extends ../_temp/main
block body
  - var curPage = "UI组件";
  include ../_temp/menu
  .content
    h1
      | 弹框（box） 
      small -bramble
    .grid
      style(type='text/css').
        .grid .ct{
        margin-bottom: 80px;
        padding-left: 200px;
        }
      .ct
        button.box0.btn ajax获取非本页面的html
      .ct
        button.box1.btn.btn_success 本页面的html
  include ../_temp/js_base
  script(type='text/javascript').
    var box0 = new Box({
                    title:"添加任务",
                    html:"http://192.168.1.107:9211/html/table1.html .content",
                    fnSure: function(t){
                        console.dir(t)
                        return false;
                    },
                    fnCancel: function(t){
                        console.dir(t)
                    },
                    // html:$(".grid .ct").html()
                });
    var box1 = new Box({
                    title:"添加任务",
                    html:$(".grid").html(),
                    css:{
                        width: '50%'
                    },
                    fnSure: function(t){
                        console.dir(t)
                        return false;
                    },
                    fnCancel: function(t){
                        console.dir(t)
                    },
                    // html:$(".grid .ct").html()
                });
    $('body').on('click','.box0',function(){
        box0.show();
    }).on('click','.box1',function(){
        box1.show();
    });