extends ../_temp/main
block head
    style(type='text/css').
        .disagree_form{
            padding-top: 40px;
        }
block body
    - var curPage = "cashout";
    include ../_temp/menu
    .content
    include ../_temp/js_base
    script(type='text/javascript').
        var role = #{role};
    script(src='http://192.168.1.211:5211/back/js/page/common_cashout.js')
