extends ../_temp/main
block body
  - var curPage = "UI组件";
  include ../_temp/menu
  .content
    h1
      | 表情（expression） 
      small -bramble
    .grid
      .ct
        textarea
        button.btn.btn_primary(type='button') 表情
  include ../_temp/js_base
  script(type='text/javascript').
    $(function() {
        // 表情
        var expre = new Expression({
            $ct: $(".ct"),
            $toInput: $("textarea"),
            $link: $('.btn'),
            css: {
                "left": "5px",
                "margin-left": "0px",
                "margin-top": "10px"
            },
            triangleCss: {
                "top": "-11px",
                "left": "16px"
            }
        });
    });