extends ../_temp/main
block body
  - var curPage = "UI组件";
  include ../_temp/menu
  .content
    h1
      | 表单元素（form-element） 
      small -bramble
    .grid
      .ct_2
        input(type='text')
      .ct_2
        input(type='text', disabled='', value='国际化的实干家')
      .ct_2
        select
          option(value='1') 1
          option(value='2') 2
          option(value='3') 3
          option(value='4') 4
      .ct_2
        select(disabled='')
          option(value='1') 1
          option(value='2') 2
          option(value='3') 3
          option(value='4') 4
      .ct_2
        label.radio
          input(type='radio', name='radio', checked='')
          span.opt_imitate
          span.opt_desc 的撒
        label.radio
          input(type='radio', name='radio')
          span.opt_imitate
          span.opt_desc 的撒
        label.radio
          input(type='radio', name='radio')
          span.opt_imitate
          span.opt_desc 的撒
        label.radio
          input(type='radio', name='radio')
          span.opt_imitate
          span.opt_desc 的撒
        label.radio
          input(type='radio', name='radio', disabled='')
          span.opt_imitate
          span.opt_desc 的撒
      .ct_2
        label.checkbox
          input(type='checkbox', name='checkbox', checked='')
          span.opt_imitate
          span.opt_desc 的撒
        label.checkbox
          input(type='checkbox', name='checkbox')
          span.opt_imitate
          span.opt_desc 的撒
        label.checkbox
          input(type='checkbox', name='checkbox')
          span.opt_imitate
          span.opt_desc 的撒
        label.checkbox
          input(type='checkbox', name='checkbox')
          span.opt_imitate
          span.opt_desc 的撒
        label.checkbox
          input(type='checkbox', name='checkbox', disabled='')
          span.opt_imitate
          span.opt_desc 的撒
      .ct_2
        label.whether
          input(type='checkbox', name='radio', checked='')
          span.opt_imitate YES
          span.opt_imitate NO
        label.whether
          input(type='checkbox', name='radio')
          span.opt_imitate 是
          span.opt_imitate 否
      .ct_2
        label.whether
          input(type='checkbox', name='radio', checked='', disabled='')
          span.opt_imitate YES
          span.opt_imitate NO
        label.whether
          input(type='checkbox', name='radio', disabled='')
          span.opt_imitate 是
          span.opt_imitate 否
      .ct_2
        textarea
      .ct_2
        textarea(disabled='')
      .ct_2
        label.suffix
          span.opt_imitate ￥
          input(type='text')
      .ct_2
        label.suffix
          input(type='text')
          span.opt_imitate .00
      .ct_2
        label.suffix
          span.opt_imitate ￥
          input(type='text')
          span.opt_imitate .00
      .ct_2
        label.suffix
          input(type='text')
          span.opt_imitate.btn 搜索
      .ct_2
        label.suffix_btn
          input(type='text')
          span.opt_imitate.btn.btn_success_outline 搜索
      .ct_2
        label.suffix
          input(type='text', disabled='')
          span.opt_imitate.btn.btn_danger 搜索
      .ct_2
        label.suffix_btn
          input(type='text')
          span.opt_imitate.btn.btn_success 搜索
      .ct_2
        label.suffix_btn
          input(type='text')
          span.opt_imitate.btn.btn_danger 搜索
      .ct_2
        .date_group
          input(type='text', readonly='')
          i.iconfont.icon-86b
          input(type='text', readonly='')
      .ct_2
        input(type='date')
  include ../_temp/js_base