extends ../_temp/main
block body
    - var curPage = "guest_user";
    include ../_temp/menu
    .content
    include ../_temp/js_base
    script(type='text/javascript').
        var role =  #{role};
    script(src='http://192.168.1.211:5211/back/js/page/common_guest_user.js')