extends ../_temp/main
block body
    - var curPage = "user";
    include ../_temp/menu
    .content
    include ../_temp/js_base
    script(type='text/javascript').
        var role = #{role};
    if ~[1,4,6].indexOf(role)
        script(src='http://192.168.1.211:5211/back/js/page/add_guest_user.js')
    script(src='http://192.168.1.211:5211/back/js/page/user.js')
