extends ../_temp/main
block body
  - var curPage = "UI组件";
  include ../_temp/menu
  .content
    h1
      | 验证（validate）
      small -bramble
    .grid
      label.ct_2.grid_nowrap
        .ct_4.field
          | 必填
        .ct_4-3.import_ct
          input(type='text', data-validate='require')
      label.ct_2.grid_nowrap
        .ct_4.field
          | 数字
        .ct_4-3.import_ct
          input(type='text', data-validate='num')
      label.ct_2.grid_nowrap
        .ct_4.field
          | 整数
        .ct_4-3.import_ct
          input(type='text', data-validate='int')
      label.ct_2.grid_nowrap
        .ct_4.field
          | 非负整数
        .ct_4-3.import_ct
          input(type='text', data-validate='int,!-')
  include ../_temp/js_base
