extends ../_temp/main
block head
    style(type='text/css').
        a.query_link{
            margin-left: 15px;
            color: #aaa;
            border-bottom: 1px solid #aaa;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            user-select: none;
        }
        a.query_link:hover{
            color: #1D61BF;
            border-color: #1D61BF;
        }
block body
    - var curPage = "项目";
    .content
        .detail
            h1
                | 用户详情
                small
                    |-
                    span.user_id
            h2.title: |基本信息
            .grid.details
                label.ct_2.grid_nowrap
                    .ct_4.field: |ID
                    .ct_4-3
                        span.user_id
                label.ct_2.grid_nowrap
                    .ct_4.field: |IDFA
                    .ct_4-3
                        span.user_name
                label.ct_2.grid_nowrap
                    .ct_4.field: |手机
                    .ct_4-3
                        span.user_phone
                label.ct_2.grid_nowrap
                    .ct_4.field: |微信
                    .ct_4-3
                        span.user_wechat
                label.ct_2.grid_nowrap
                    .ct_4.field: |最近IP
                    .ct_4-3
                        span.user_spd
                label.ct_2.grid_nowrap
                    .ct_4.field: |最近登录
                    .ct_4-3
                        span.user_recent_login
                label.ct_2.grid_nowrap
                    .ct_4.field: |登录次数
                    .ct_4-3
                        span.user_login_num
                        //- a.query_link.query_num(href="javascript:;"): |(查看详情)
            h2.title: |其他信息
            .grid.details
                label.ct_2.grid_nowrap
                    .ct_4.field: |今日收入
                    .ct_4-3
                        span.user_income_today
                        //- a.query_link.query_num(href="javascript:;"): |(查看明细)
                label.ct_2.grid_nowrap
                    .ct_4.field: |历史收入
                    .ct_4-3
                        span.user_income_history
                        //- a.query_link.query_num(href="javascript:;"): |(查看详情)
                label.ct_2.grid_nowrap
                    .ct_4.field: |好友数
                    .ct_4-3
                        span.user_friend_num
                        //- a.query_link.query_num(href="javascript:;"): |(查看详情)
                label.ct_2.grid_nowrap
                    .ct_4.field: |已提现
                    .ct_4-3
                        span.user_withdraw
                        |元
                if ~[1,4,6].indexOf(role)
                    label.ct.t_right
                        button.btn.btn_danger.btn_level
                            |升级为特邀用户
    include ../_temp/js_base
    if ~[1,4,6].indexOf(role)
        script(src='http://192.168.1.211:5211/back/js/page/add_guest_user.js')
    script(src='http://192.168.1.211:5211/back/js/page/user_detail.js')