extends ../_temp/main
block body
    - var curPage = "cashout";
    include ../_temp/menu
    .content
    include ../_temp/js_base
    script(type='text/javascript').
        var role = #{role};
    script(src='_HOST_/js/page/common_cashout.js')
