extends ../_temp/main
block body
  - var curPage = "UI组件";
  include ../_temp/menu
  .content
    h1
      | 日期控件（datepicker） 
      small -bramble
    .grid
      .ct_2.grid_nowrap
        .ct_4.field
          | 日期控件
        .ct_4-3.import_ct
          input(type='text', readonly='')
      .ct_2.grid_nowrap
        .ct_4.field
          span.nowrap 不带时间的日期控件
        .ct_4-3.import_ct
          input(type='text', readonly='')
      .ct_2.grid_nowrap
        .ct_4.field
          span.nowrap 有默认值
        .ct_4-3.import_ct
          input(type='text', readonly='')
      .ct_2.grid_nowrap
        .ct_4.field
          | 另一种格式
        .ct_4-3.import_ct
          input(type='text', readonly='')
  include ../_temp/js_base
  script(type='text/javascript').
    $(function() {
        // 日期
        $(".ct_2 input").eq(0).datepicker();
        $(".ct_2 input").eq(1).datepicker({timepicker:false});
        $(".ct_2 input").eq(2).datepicker({datetime: new Date(2011,10,11,11,10,00)});
        $(".ct_2 input").eq(3).datepicker({format:'y年m月d日 h时i分'});
    });