extends ../_temp/main
block head
  style(type='text/css').
    .opers{
        padding: 10px 0;
        text-align: right;
        border-bottom: 2px solid #A7CDD8;
    }
    .docking_list{
        min-height: 100px;
    }
    .icon_test{
        color: #007AFF;
        vertical-align: top;
        margin: 0 5px;
        cursor: pointer;
    }
    .test_dock_idfa{
        margin-top: 30px;
    }
block body
  include ../_temp/menu
  .content
    .opers
      button.btn.btn_primary.add_docking(type='button') 添加对接
    .docking_list
  include ../_temp/js_base
  script(src='_HOST_/js/page/common_docking.js')
