extends ../_temp/main
block body
  - var curPage = "form";
  include ../_temp/menu
  .content
    h1
      | 添加任务
      small -bramble
    .grid
      label.ct_2.grid_nowrap
        .ct_4.field
          | 字段字段
        .ct_4-3.import_ct
          input(type='text', data-validate='num')
      label.ct_2.grid_nowrap
        .ct_4.field
          | 字段字段段
        .ct_4-3.import_ct
          input(type='text', data-validate='int')
      label.ct_2.grid_nowrap
        .ct_4.field
          span.nowrap 长字段长字段长字段长字段长字段
        .ct_4-3.import_ct
          select
            option(value='1') 1
            option(value='2') 2
            option(value='3') 3
            option(value='4') 4
      .ct_2.grid_nowrap
        .ct_4.field
          span.nowrap 长字
        .ct_4-3.import_ct
          label.radio
            input(type='radio', name='radio', checked='')
            span.opt_imitate
            span.opt_desc 的撒
          label.radio
            input(type='radio', name='radio')
            span.opt_imitate
            span.opt_desc 的撒
          label.radio
            input(type='radio', name='radio')
            span.opt_imitate
            span.opt_desc 的撒
          label.radio
            input(type='radio', name='radio')
            span.opt_imitate
            span.opt_desc 的撒
      .ct_2.grid_nowrap
        .ct_4.field
          span.nowrap 长字段长字段长字段长字段长字段长字段
        .ct_4-3.import_ct
          label.checkbox
            input(type='checkbox', name='checkbox', checked='')
            span.opt_imitate
            span.opt_desc 的撒
          label.checkbox
            input(type='checkbox', name='checkbox')
            span.opt_imitate
            span.opt_desc 的撒
          label.checkbox
            input(type='checkbox', name='checkbox')
            span.opt_imitate
            span.opt_desc 的撒
          label.checkbox
            input(type='checkbox', name='checkbox')
            span.opt_imitate
            span.opt_desc 的撒
          label.checkbox
            input(type='checkbox', name='checkbox', disabled='')
            span.opt_imitate
            span.opt_desc 的撒
      .ct_2.grid_nowrap
        .ct_4.field
          span.nowrap 长字段长字段长字段长字段长字段长字段
        .ct_4-3.import_ct
          label.whether
            input(type='checkbox', name='radio')
            span.opt_imitate 是
            span.opt_imitate 否
      label.ct_2.grid_nowrap
        .ct_4.field
          | 字段字段
        .ct_4-3.import_ct
          textarea(data-validate='posInt')
      label.ct_2.grid_nowrap
        .ct_4.field
          | 字段字段
        .ct_4-3.import_ct
          label.suffix
            span.opt_imitate ￥
            input(type='text')
            span.opt_imitate .00
      label.ct_2.grid_nowrap
        .ct_4.field
          | 字段字段
        .ct_4-3.import_ct
          label.suffix_btn
            input(type='text')
            span.opt_imitate.btn.btn_success 搜索
  include ../_temp/js_base