extends ../_temp/main
block body
    - var curPage = "guest_user";
    include ../_temp/menu
    .content
        .t_right
            a(href="_HOST_/page/settlement").btn.btn_primary 结算
    include ../_temp/js_base
    script(type='text/javascript').
        var role =  #{role};
    script(src='_HOST_/js/page/common_guest_user.js')