extends ../_temp/main
block head
    style(type='text/css').
        body,.content{
            height: 100%;
        }
        .filter_ct{
            margin:0 50px 20px;
        }
        .filter_ct .ct_3,.filter_ct .ct_5-2,.filter_ct .ct_5{
            vertical-align: middle;
        }
        .export_ct{
            text-align: right;
        }
        .chart_type_ct{
            text-align: center;
        }
        .report_ct{
            height: 90%;
            min-height: 500px;
            margin: 0 10px;
        }
        input.date_start,input.date_end{
            text-align: center;
            //- border-color: rgba(0,0,0,.1);
            padding: 0;
        }
        .date_separator_ct{
            text-align: center;
            line-height: 29px;
        }
        .date_separator_ct .iconfont{
            color: #26344B;
        }
        .chart_type_ct .whether{
            width: 100%;
        }
        .whether .opt_imitate:first-of-type,.whether .opt_imitate:last-of-type{
            border-radius: 0;
            width: 50%;
        }
        .whether .opt_imitate:first-of-type{
            color: #d9534f;
        }
        .whether .opt_imitate:last-of-type,.whether input[type='checkbox']:checked ~ .opt_imitate:first-of-type{
            color: #fff;
        }
        .whether input[type='checkbox']:checked ~ .opt_imitate:last-of-type{
            color: #60c560;
        }
        .sel_guest_user{
            min-height: 120px;
        }
block body
    - var curPage = "promoter_report";
    include ../_temp/menu
    .content
        .grid_md.filter_ct
            .ct_3.chart_type_ct
                label.whether
                    input(type="checkbox",checked,id="chart_type")
                    span.opt_imitate 好友数任务数
                    span.opt_imitate 特邀支出费用
            .ct_3
                .date_group
                  .date_start_ct
                    input.date_start(type='text', readonly)
                  i.iconfont.icon-86b
                  .date_end_ct
                    input.date_end(type='text', readonly)
            .ct_3.grid_nowrap
                .ct_3
                    select.query_type
                        option(value="all")|全部特邀用户
                        option(value="some", data-show=".query_some")|推广人员
                        option(value="one", data-show=".query_one")|单个特邀用户
                .ct_3
                    select.query_some.hidden(disabled)
                        option(value="")|请选择
                    button.btn.query_one.hidden: |选择
                .ct_3.export_ct
                    //- button.btn.btn_primary: |导出
                    button.btn.btn_info.btn_toggle_chart_table.hidden: |切换报表
        .report_ct
        .table_ct.hidden
            .t_right
                button.btn.btn_primary.btn_toggle_table: |切换表格
    include ../_temp/js_chart
    script(type='text/javascript').
        var role =  #{role};
        var person_id =  #{id};
    script(src='_HOST_/js/page/report_promoter.js')