extends ../_temp/main
block head
  style(type='text/css').
    .grid .ct{
        margin-bottom: 80px;
        padding-left: 200px;
    }
block body
  - var curPage = "UI组件";
  include ../_temp/menu
  .content
    h1
      | 小提示（tips） 
      small -bramble
    .grid
      .ct
        button.tip0.btn hover提示,无关闭按钮
      .ct
        button.tip1.btn.btn_success 固定上方提示,alert
      .ct
        button.tip2.btn.btn_primary 响应式方向,定时2秒
      .ct
        button.tip3.btn.btn_info 响应式方向,confirm
      .ct
        button.tip4.btn.btn_danger 响应式方向3
  include ../_temp/js_base
  script(type='text/javascript').
        var tip0 = new Tip({
                        $ct: $(".tip0"),
                        content: '但是但是但是但是但是但是但是但是但是但是但是但是但是但是但是但是但是但是',
                        isShow: false,
                        type: 'hover',
                        noClose: true
                    });
        var tip1 = new Tip({
                        $ct: $(".tip1"),
                        content: '多撒谎个会尽快多撒谎个会尽快多撒谎个会尽快多撒谎个会尽快多撒谎个会尽快多撒谎个会尽快',
                        dir: "top",
                        isShow: false,
                        type: "click",
                        theme: "primary",
                        alert: true,
                        alertfn: function(){
                            alert("点击确认");
                            // return false;
                        }
                    });
        var tip2 = new Tip({
                        $ct: $(".tip2"),
                        content: 'only when u seize today can you not lose tomorrow! only when u seize today can you not lose tomorrow! only when u seize today can you not lose tomorrow! only when u seize today can you not lose tomorrow! only when u seize today can you not lose tomorrow! only when u seize today can you not lose tomorrow!',
                        isShow: false,
                        type: "click",
                        timeout: 2000,
                        theme: "info",
                        // dir: "bottom"
                    });
        var tip3 = new Tip({
                        $ct: $(".tip3"),
                        content: '多会尽快',
                        confirm: true,
                        css:{
                            "white-space": "nowrap"
                        },
                        isShow: false,
                        type: "click",
                        theme: "warning",
                        // dir: "left",
                        alertfn: function(flag){
                            alert(flag);
                            // return false;
                        }
                    });
        var tip4 = new Tip({
                        $ct: $(".tip4"),
                        content: '多撒谎个会尽快多撒谎个会尽快多撒谎个会尽快多撒谎个会尽快',
                        css: {
                            width: "300px"
                        },
                        isShow: false,
                        theme: "danger",
                        type: "click"
                        // dir: "right"
                    });
