extends ../_temp/main
block head
  style(type='text/css').
    ol>li{
        list-style-type: decimal;
        color: #48B348;
    }
    ol>li.unfinished{
        color: #E43333;
    }
    ol>li.improving{
        color: #E48933;
    }
block body
  - var curPage = "todo";
  include ../_temp/menu
  .content
    h1
      | 待办（todo）
      small -bramble
    ol
      li 图表（引入的百度的echarts3.0）
      li 表格
      li 遮罩
      li 弹框
      li tips
      li 菜单与主内容块的设计和实现
      li 网格布局
      li 表单元素
      li 正常表单页面（带字段）
      li mask
      li cookie（因IE9+，用localStorage不需要兼容.）
      li toTop
      li 弹框
      li 图标
      li 日期计算
      li 数字千分位
      li emoji表情控件
      li.improving 推送页面---&gt;这个页面可能不要了
      li.improving 欢迎页，登录页，404页，500页，浏览器版本不兼容页。---&gt;需要优化
      li.improving logo---&gt;需要设计
      li.improving 标题---&gt;需要优化
      li.improving 验证---&gt;需要扩展
      li 日期控件
      li.improving 窗口&gt;768px的情况下菜单切换状态至折叠形态时，需要做到文档渲染之前加上控制折叠的class，否则有动画或闪烁
      li.improving html,js代码的合并压缩
      li.unfinished 日期型字符串转日期
      li.unfinished 表格加载提示需要可以放在.table上
      li 表格不要分页时显示总记录数
  include ../_temp/js_base
